<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Footer</title>
</head>

<body>
	<footer class="footer" th:fragment="footer">
		<div class="ftco-footer ftco-section">
			<div class="container">
				<div class="row mb-5">
					<div class="col-md">
						<div class="ftco-footer-widget mb-4">
							<h2 class="ftco-heading-2">About</h2>
							<p>Thank you for visiting our Sakila film store! Have a nice day.</p>
							<ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
								<li class="ftco-animate fadeInUp ftco-animated"><a href="https://www.linkedin.com/in/svilen-petrov-7469181a1/"><span class="fa fa-linkedin-square"></span></a></li>
								<li class="ftco-animate fadeInUp ftco-animated"><a href="https://twitter.com/svilenpetrov_"><span class="icon-twitter"></span></a></li>
							</ul>
						</div>
					</div>
					<div class="col-md">
						<div class="ftco-footer-widget mb-4 ml-md-4">
							<h2 class="ftco-heading-2">Quick Access</h2>
							<ul class="list-unstyled">
								<li>
									<a href="#"><span class="icon-long-arrow-right mr-2"></span>Home</a>
								</li>
								<li>
									<a href="#login-section"><span class="icon-long-arrow-right mr-2"></span>Login</a>
								</li>
								<li>
									<a href="#register-section"><span class="icon-long-arrow-right mr-2"></span>Register</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-md">
						<div class="ftco-footer-widget mb-4">
							<h2 class="ftco-heading-2">Services</h2>
							<ul class="list-unstyled">
								<li><a href="#services-section"><span class="icon-long-arrow-right mr-2"></span>Actors</a></li>
								<li><a href="#services-section"><span class="icon-long-arrow-right mr-2"></span>Films</a></li>
								<li><a href="#services-section"><span class="icon-long-arrow-right mr-2"></span>Categories</a></li>
							</ul>
						</div>
					</div>
					<div class="col-md">
						<div class="ftco-footer-widget mb-4">
							<h2 class="ftco-heading-2">Have any questions?</h2>
							<div class="block-23 mb-3">
								<ul>
									<li><a href="#"><span class="icon icon-envelope"></span><span class="text">spetrov@spartaglobal.com</span></a></li>
									<li><a href="#"><span class="icon icon-envelope"></span><span class="text">eburaimo@spartaglobal.com</span></a></li>
									<li><a href="#"><span class="icon icon-envelope"></span><span class="text">jkovacevic@spartaglobal.com</span></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 text-center">
						<p>
							Copyright ©
							<script>document.write(new Date().getFullYear());</script> All rights reserved
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
</body>

</html>
