
body {
    margin: 10px;
    font-family: Verdana, sans-serif;
    color: lightgrey;
    background: #150000;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    align-content: end;
}

label{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
}









