<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout/layout">

<head>
    <title>Layout</title>
</head>

<body>

<div layout:fragment="content">
    <h1 style="text-align: center;">BROWSE OUR CATEGORIES</h1>
    <table style="text-align-last: center;">
        <tr>
            <th>Category Name</th>
        </tr>
        <tr th:each="category: ${allCategories}">
            <td><a class="hyperlink-text" th:href="@{categories/details(id=${category.categoryId})}" th:text="${category.name}"></a></td>
        </tr>
    </table>
</div>

</body>
</html>