<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="layout/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div layout:fragment="content">

    <h1 style="text-align: center" th:text="${customer != null} ? ${'Rental History for ' + (customer.firstName.concat(' ' + customer.lastName).toUpperCase())} : 'Customer Rental History'">CUSTOMER</h1>
    <br/><br/>
    <form class="form-group" name="orders">
        <table>
            <tr>
                <th>Film Title</th>
                <th>Rental Date</th>
                <th>Return Date</th>
            </tr>
            <tr th:each="order: ${history}">
                <td><a class="hyperlink-text" th:href="@{/films/details(id=${order.film.filmId})}"  th:text="${order.film.title}">Film</a></td>
                <td th:text="${order.rental.rentalDate}"></td>
                <td th:text="${order.rental.returnDate}"></td>
            </tr>
        </table>
    </form>

</div>

</body>
</html>