<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:th="http://www.thymeleaf.org"
	  layout:decorator="layout/layout">

<head>
<title>Layout</title>
</head>

<body>

	<div layout:fragment="content">
		<div align="center">
			<h1>Edit Film</h1>
			<br />
			<form action="#" th:action="@{/save}" th:object="${film}"
				  method="post">

				<table border="0" cellpadding="10">
					<tr>
						<td>Film ID:</td>
						<td>
							<input type="text" th:field="*{filmId}" readonly="readonly" />
						</td>
					</tr>
					<tr>
						<td>Film Tittle:</td>
						<td>
							<input type="text" th:field="*{title}" />
						</td>
					</tr>
					<tr>
						<td>Description:</td>
						<td><input type="text" th:field="*{description}" /></td>
					</tr>
					<tr>
						<td>Release Year:</td>
						<td><input type="text" th:field="*{releaseYear}" /></td>
					</tr>
					<tr>
						<td>Rental Duration:</td>
						<td><input type="text" th:field="*{rentalDuration}" /></td>
					</tr>
					<tr>
						<td>Price:</td>
						<td><input type="text" th:field="*{rentalRate}" /></td>
					</tr>
					<tr>
						<td>Rating:</td>
						<td><input type="text" th:field="*{rating}" /></td>
					</tr>
					<tr>
						<td>Length:</td>
						<td><input type="text" th:field="*{length}" /></td>
					</tr>
					<tr>
						<td>Replacement Cost:</td>
						<td><input type="text" th:field="*{replacementCost}" /></td>
					</tr>
					<tr>
						<td colspan="2"><button class="button w-100" type="submit">Save</button> </td>
					</tr>
				</table>
			</form>
		</div>
	</div>
</body>
</html>