<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="https://www.thymeleaf.org"
      layout:decorator="layout/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div layout:fragment="content">

        <div class="row">
            <div class="col-sm-8">
                <h1 th:text="${staff != null} ? ${'Hello, ' + (staff.firstName.concat(' ' + staff.lastName).toUpperCase())} : 'Hello, Admin'">Welcome back, CUSTOMER </h1>
            </div>
            <div class="col-sm-4">
                <form th:action="@{/logout}" method="post">
                    <input class="button" type="submit" value="Sign Out"/>
                </form>
            </div>
        </div>

        <table class="table">
            <tr>
                <th>First Name:</th>
                <td th:text="${staff != null} ? ${staff.firstName} : 'N/A'"></td>
            </tr>
            <tr>
                <th>Last Name:</th>
                <td th:text="${staff != null} ? ${staff.lastName} : 'N/A'"></td>
            </tr>
            <tr>
                <th>Email:</th>
                <td th:text="${staff != null} ? ${staff.email} : 'N/A'"></td>
            </tr>
            <tr>
                <th>Staff ID:</th>
                <td th:text="${staff != null} ? ${staff.staffId} : 'N/A'"></td>
            </tr>
        </table>

        <table class="table">
            <tr>
                <th style="text-align: center">Admin Actions</th>
            </tr>
            <tr>
                <td><a class="hyperlink-text" href="/owner/customers">View All Customers</a></td>
            </tr>
            <tr>
                <td><a class="hyperlink-text" href="owner/manage-films">View All Films</a></td>
            </tr>
        </table>

        <table>
            <tr>
                <th>Available Films</th>
                <td>
                    <a class="hyperlink-text" th:href="@{/films}" th:text="${inventory}">Details</a>
                </td>
            </tr>
            <tr>
                <th>Total Customers</th>
                <td>
                    <a class="hyperlink-text" th:href="@{/owner/customers}" th:text="${customers}">Details</a>
                </td>
            </tr>
        </table>

    </div>

</body>
</html>