
body {
    margin: 10px;
    font-family: Verdana, sans-serif;
    color: lightgrey;
    background: #150000;
}

.content {
    padding: 30px 30px 30px 30px;
}

.footer {
    padding: 10px;
    margin: 40px 100px 40px 100px;
    background-color: #d91e4f;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    align-content: end;
}

label{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
}









